<md-toolbar layout="row" layout-align-gt-sm="center center">
    <md-button class="md-icon-button" ng-click="toggleMenu('left')" hide-gt-sm aria-label="Menu">
        <md-icon class="fa-list"></md-icon>
    </md-button>
    <h3>Apps Company</h3>
</md-toolbar>

<div layout="row" flex style="background-color:#f0f0f0">
    <md-sidenav class="md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        <md-list ng-click="toggleMenu('left')">
            <md-subheader class="md-no-sticky">{{usuario.email}}</md-subheader>
            
            <md-list-item role="link" href="#/home">
                <md-icon class="fa-home"></md-icon>
                <p class="md-list-item-text">
                    Home
                </p>
            </md-list-item>
            
            <md-list-item role="link" href="#/projeto">
                <md-icon class="fa-tasks"></md-icon>
                <p class="md-list-item-text">
                    Projetos
                </p>
            </md-list-item>

            <div ng-if="isDeveloper()">
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Desenvolvedores</md-subheader>
                
                <md-list-item role="link" href="#/estorias">
                    <md-icon class="fa-book"></md-icon>
                    <p class="md-list-item-text">
                        Estórias de Usuário
                    </p>
                </md-list-item>
                
                <md-list-item role="link" href="#/taskboard">
                    <md-icon class="fa-th-large"></md-icon>
                    <p class="md-list-item-text">
                        Taskboard
                    </p>
                </md-list-item>
                
                <md-list-item role="link" href="#/equipes">
                    <md-icon class="fa-users"></md-icon>
                    <p class="md-list-item-text">
                        Minhas Equipes
                    </p>
                </md-list-item>
            </div>
    
        </md-list>
    </md-sidenav>

    <div ui-view flex>

    </div>
</div>
