<div layout="row" layout-align="center center" layout-fill ng-controller="LoginCtrl">
    <div class="md-whiteframe-z1" layout="column" flex-md="30">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">Log in</h1>
        </md-toolbar>
        <div layout-padding>
            <md-input-container class="md-block">
                <label>E-mail</label>
                <input type="email" ng-model="usuario.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Senha</label>
                <input type="password" ng-model="usuario.senha">
            </md-input-container>
            <div layout="row" layout-sm="column" layout-align="center">
                <md-button class="md-raised" ng-click="login()">Entrar</md-button>
                <md-button class="md-raised md-primary" href="/#create">Criar Conta</md-button>
            </div>
        </div>
    </div>
</div>
