<div layout="row" layout-align="center center" layout-fill ng-controller="LoginCtrl">
    <div class="md-whiteframe-z1 card-form" layout="column">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">Log in</h1>
        </md-toolbar>
        <div layout-padding>
            <md-input-container class="md-block md-icon-float">
                <label>E-mail</label>
                <md-icon class="fa-envelope-o"></md-icon>
                <input type="email" ng-model="usuario.email">
            </md-input-container>
            <md-input-container class="md-block md-icon-float">
                <label>Senha</label>
                <md-icon class="fa-key"></md-icon>
                <input type="password" ng-model="usuario.senha">
            </md-input-container>
            <div layout="column" layout-align="center">
                <md-button class="md-raised md-primary" ng-click="login()">Entrar</md-button>
                <md-button class="md-primary" href="#/criar">Criar Conta</md-button>
            </div>
        </div>
    </div>
</div>
