<div ng-controller="ProjetoCtrl">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="fa-code"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-headline-4">Sr.(a) {{usuario.nome}}</span>
                <span class="md-caption">Seja bem vindo a plataforma</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content ng-if="!projetos.data.length">
            <span class="md-headline-4">Você não criou nenhum projeto</span>
            <p class="md-body-1">
                Para começar clique no botão <i class="fa fa-plus"></i> abaixo e siga as instruções.
            </p>
        </md-card-content>
    </md-card>

    <md-card ng-if="projetos.data.length">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h5>Projeto</h5>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Alterar" ng-click="openForm($event)">
                    <md-icon class="fa-pencil"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Excluir" ng-click="deleteProject($event)">
                    <md-icon class="fa-trash"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-card-header>
            <md-card-header-text>
                <span class="md-subhead">{{projeto.descricao}}</span>
            </md-card-header-text>
        </md-card-header>
        
        <md-card-actions layout="column" layout-align="start start" layout-gt-sm="row">
            <md-button class="md-primary" ng-click="addFunctionality($event)">
                <md-icon class="fa-plus"></md-icon>
                Funcionalidade
            </md-button>
        </md-card-actions>
        
        <md-card-content ng-if="funcionalidades.data.length">
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in funcionalidades.data">
                    <div class="md-list-item-text">
                        <h3>{{item.ator}}</h3>
                        <p>
                            {{item.descricao}}
                        </p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    
    <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Adicionar" ng-if="!projetos.data.length" ng-click="openForm($event)">
        <md-tooltip>
            Criar projeto
        </md-tooltip>
        <md-icon class="fa-plus"></md-icon>
    </md-button>
</div>
