<md-dialog aria-label="Cadastrar Funcionalidade" flex-gt-sm="40" ng-cloak>
    <form name="cadform" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nova Funcionalidade</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancelar">
                    <md-icon class="fa-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Ator</label>
                    <input type="text" name="ator" ng-model="funcionalidade.ator" placeholder="Quem? A pessoa que executará a ação...">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descrição</label>
                    <textarea name="descricao" ng-model="funcionalidade.descricao" cols="5" md-maxlength="255" placeholder="O quê? A ação que será executada..."></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Objetivo</label>
                    <textarea name="objetivo" ng-model="funcionalidade.objetivo" cols="5" md-maxlength="255" placeholder="Para quê? Qual a finalidade desta ação..."></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="save()">
                Confirmar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>