[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

  .inputdemoErrors .inputErrorsApp {
  min-height: 48px; }
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

.fa {
    font-size: 1.5em;
}

.fa-question:before {
    margin: 0 4px;
}

md-icon, .md-icon-button {
    height: auto !important;
}

.md-fab.md-fab-bottom-right {
    position: fixed !important;
}

md-card md-toolbar {
    min-height: 0;
}

md-card .md-toolbar-tools {
    height: 48px;
    background-color: white !important;
}

md-card .md-toolbar-tools .md-icon-button {
    margin: 0;
}

md-card .md-toolbar-tools, md-card .md-toolbar-tools md-icon {
    color: #333;
}

md-card .md-toolbar-tools md-icon {
    font-size: 16px;
}

md-card-content p.md-body-1 {
    text-align: justify;
}

@media (min-width: 960px) {
    .layout-gt-sm-row md-list-item:nth-child(even) {
        margin-left: 12px;
    }
}

.darkwhite-bg {
    background-color: #f0f0f0;
}

.text-bold {
    font-weight: bold;
}

.example {
    background-color: #f0f0f0;
    font-size: 14px;
    padding: 10px;
}

div.example {
    margin: 15px 0;
}