[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.fa {
    font-size: 1.5em;
}

.md-icon, .md-icon-button {
    height: auto !important;
}
