<div ng-controller="HomeCtrl">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">Sr.(a) {{usuario.nome}}</span>
                <span class="md-subhead">Seja bem vindo a plataforma</span>
            </md-card-title-text>
        </md-card-title>
        
        <md-divider></md-divider>
        
        <md-card-content>
            <div ng-if="!projetos.data.length">
                <h3 class="md-title">Vamos começar?</h3>
                <p class="md-body-1">
                    Crie um projeto acessando o menu esquerdo "Projetos" e depois siga as instruções.
                </p>
            </div>
            
            <div ng-if="atividades.data.length">
                <h3 class="md-title">Atividades</h3>
                <md-list layout-align="start start">
                    <md-list-item class="md-2-line" ng-repeat="item in atividades.data">
                        <md-icon class="fa-clock-o"></md-icon>
                        <div class="md-list-item-text">
                            <h4>{{getActivity(item.descricao)}}</h4>
                            <p>{{timeElapsed(item.datahora)}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
    </md-card>
</div>
