<div ng-controller="DesenvolvedorCtrl">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">Desenvolvedores</span>
                <span class="md-subhead">Selecione um desenvolvedor para atribuir projetos</span>
            </md-card-title-text>
        </md-card-title>
        
        <md-card-content>
            <md-list layout-gt-sm="row">
                <md-list-item role="link" ng-if="!desenvolvedores.data.length">
                    <md-icon md-font-icon="fa-exclamation"></md-icon>
                    <p class="md-body-1">Nenhum desenvolvedor cadastrado</p>
                </md-list-item>                
                
                <md-list-item flex-gt-sm="50" class="md-whiteframe-z1 md-2-line" ng-repeat="item in desenvolvedores.data" ng-click="attachProject(item.id)">
                    <md-icon class="md-avatar-icon" md-font-icon="fa-code"></md-icon>
                    <div class="md-list-item-text">
                        <h3>{{item.email}}</h3>
                        <p>{{item.nome}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
